/* GENERIC */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: fredoka, sans-serif;
    font-weight: 400;
}
img {
    width: 30%;
    float: left;
    margin-right: 5%;
}
.name  {
    font-size: small;
    font-weight: 600;
    text-transform: uppercase;
}
.role {
    font-size: x-small;
    text-transform: capitalize;
}
a {
    text-decoration: none;
    color: #5AC3C8;
    font-size: x-small;
}

/* SPECIFIC */ 

h1 {
    text-align: center;
    margin: 2% 0 4% 0;
    font-weight: 700;
    color: #E43170;
}
section {
    width: 70%;
    margin: auto;
}
section p {
    text-align: center;
    margin-bottom: 6%;
    font-size: small;
}
.container {
    width: 70%;
    margin: auto;
}
.card {
    background-color: #0F0E17;
    color: #FFFFFC;
    width: calc(100% / 3 - 3%);
    float: left;
    margin: 0 3% 5% 0;
    box-shadow: 0px 0px 5px 2px #C4C4C3;
}
.card div {
    margin: 2% 0 2% 0;
}
